<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :price_per_kg %>
    <%= form.number_field :price_per_kg, step: 0.01, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, step: 0.01, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, [Order::BUY_TRANSACTION_TYPE, Order::SELL_TRANSACTION_TYPE], {}, class: 'form-control' %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
