<p style="color: green"><%= notice %></p>

<h1>Live Orders</h1>

<table id="orders">
  <thead>
    <th>User</th>
    <th>Quantity (kg)</th>
    <th>Price (£ per kg)</th>
    <th>Transaction</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.user.email %></td>
      <td><%= order.quantity %></td>
      <td><%= order.price_per_kg %></td>
      <td><%= order.transaction_type %></td>
      <td><%= button_to 'Edit', edit_order_path(order), method: :get %></td>
      <td><%= button_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New order", new_order_path %>


<h1>Sell summary</h1>
<table id="order_sell_summary">
    <thead>
      <th>Quantity</th>
      <th>Price (£ per kg)</th>
    </thead>
    <tbody>
      <% Order.summary_prices_per_price_point_for_sale.each do | summary_line | %>
      <tr>
        <td><%= summary_line[:quantity] %></td>
        <td><%= summary_line[:price_per_kg] %></td>
      </tr>
      <% end %>
    </tbody>
</table>

<h1>Buy summary</h1>
<table id="order_buy_summary">
    <thead>
      <th>Quantity</th>
      <th>Price (£ per kg)</th>
    </thead>
    <tbody>
      <% Order.summary_prices_per_price_point_for_buy.each do | summary_line | %>
      <tr>
        <td><%= summary_line[:quantity] %></td>
        <td><%= summary_line[:price_per_kg] %></td>
      </tr>
      <% end %>
    </tbody>
</table>

